<div class="m-1 flex flex-wrap justify-center">
    <img
        class="flex-1/2"
        src="..{{.Path}}"
        alt="{{.Name}}"
        hx-get="/gallery"
        hx-target="#content"
    />
</div>
<button
    class="flex-1/2 h-16 w-64 bg-linear-to-br from-blue-400 to-yellow-600 items-center rounded-full shadow-2xl cursor-pointer absolute overflow-hidden transform active:scale-x-90 active:scale-y-90 transition duration-300 ease-out"
>
    <span class="text-center text-white font-semibold z-10 pointer-events-none"
        >Download
    </span>
</button>
